body {
    margin: 8px;
}

button {
    padding: 4px 8px;
    margin: 4px;
    white-space: nowrap;
}

#back {
    text-align: center;
}

#displaySize,
#currentPosition,
#currentSize,
#version,
#testText {
    font-size: small;
    white-space: nowrap;
    text-align: center;
}

input[type="number"] {
    width: 56px;
}

table {
    border-collapse: collapse;

    /* 外枠 */
    border: 1px solid black;

    width: 100%;
}

th,
td {
    /* 横線は実線 */
    border-top: 1px solid black;

    /* 縦線は点線 */
    border-left: 1px dotted black;

    /* 内側の余白調整 */
    padding: 4px;
    text-align: center;
}

.highlight {
    background-color: black;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}
